@model HastaneRandevuSistemi.Models.Hasta

@{
    ViewData["Title"] = "Giriş Yap";
}
@if (TempData["hata"] is not null)
{
    <div class="alert alert-danger"> @TempData["hata"] </div>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Giriş Yap</h2>
            <hr />
            <form asp-action="GirisYap" method="post" class="needs-validation" novalidate>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="KimlikNo" class="control-label"></label>
                    <input asp-for="KimlikNo" class="form-control" required />
                    <span asp-validation-for="KimlikNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sifre" class="control-label"></label>
                    <input asp-for="Sifre" type="password" class="form-control" required />
                    <span asp-validation-for="Sifre" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Giriş Yap" class="btn btn-primary" />
                </div>
            </form>
            <br />
            <div class="form-group">
                <a class="btn btn-secondary nav-link text-dark" asp-area="" asp-controller="Hasta" asp-action="KayitOl">Kayıt Ol</a>
            </div>
            <div class="form-group text-center">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Doktor" asp-action="DoktorGiris"><u>Doktor Giriş</u></a>
            </div>
        </div>
    </div>
</div>