@model HastaneRandevuSistemi.Models.Randevu
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RandevuAl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="doktor.poliklinik.hastane.ilce.SehirId" class="control-label"></label>
                <select id="sehirDropdown" asp-for="doktor.poliklinik.hastane.ilce.SehirId" class="form-control" asp-items="ViewBag.SehirId"></select>
            </div>
            <div class="form-group">
                <label for="ilce">Ilce:</label>
                <select id="ilceDropdown" name="ilce" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label for="hastane">Hastane:</label>
                <select id="hastaneDropdown" name="hastane" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label for="poliklinik">Poliklinik:</label>
                <select id="poliklinikDropdown" name="poliklinik" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label for="hastane">Hastane:</label>
                <select id="hastaneDropdown" name="hastane" class="form-control">
                </select>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    $(document).ready(function () {
        $("#sehirDropdown").change(function () {
            var sehirId = $(this).val();

            $.ajax({
                type: "GET",
                url: "/Randevu/GetIlceler",
                data: { sehirId: sehirId }, 
                success: function (ilceler) {
                    var ilceDropdown = $("#ilceDropdown");
                    ilceDropdown.prop("disabled", false).empty();
                    $.each(ilceler, function (index, ilce) {
                        ilceDropdown.append('<option value="' + ilce.id + '">' + ilce.ilceIsmi + '</option>');

                    });
                }
            });
        });
    });
    $(document).ready(function () {
        $("#ilceDropdown").change(function () {
            var ilceId = $(this).val();

            $.ajax({
                type: "GET",
                url: "/Randevu/GetHastaneler",
                data: { ilceId: ilceId }, 
                success: function (hastaneler) {
                    var hastaneDropdown = $("#hastaneDropdown");
                    hastaneDropdown.prop("disabled", false).empty();
                    $.each(hastaneler, function (index, hastane) {
                        hastaneDropdown.append('<option value="' + hastane.id + '">' + hastane.hastaneIsmi + '</option>');

                    });
                }
            });
        });
    });
    $(document).ready(function () {
        $("#hastaneDropdown").change(function () {
            var hastaneId = $(this).val();

            $.ajax({
                type: "GET",
                url: "/Randevu/GetPoliklinikler",
                data: { hastaneId: hastaneId }, 
                success: function (poliklinikler) {
                    var poliklinikDropdown = $("#poliklinikDropdown");
                    poliklinikDropdown.prop("disabled", false).empty();
                    $.each(poliklinikler, function (index, poliklinik) {
                        poliklinikDropdown.append('<option value="' + poliklinik.id + '">' + poliklinik.poliklinikIsmi + '</option>');

                    });
                }
            });
        });
    });
    $(document).ready(function () {
        $("#poliklinikDropdown").change(function () {
            var poliklinikId = $(this).val();

            $.ajax({
                type: "GET",
                url: "/Randevu/GetHastaneler",
                data: { poliklinikId: poliklinikId },
                success: function (doktorlar) {
                    var doktorDropdown = $("#doktorDropdown");
                    doktorDropdown.prop("disabled", false).empty();
                    $.each(doktorlar, function (index, doktor) {
                        doktorDropdown.append('<option value="' + doktor.id + '">' + doktor.hastaneIsmi + '</option>');

                    });
                }
            });
        });
    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}